ion-content {
  --ion-background-color: #2b2c34;
}

h2 {
  color: white;
  font-size: 34px;
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
div {
  text-align: center;
  color: #ffffff;
  line-height: 32px;
  padding: 20px;
}
img {
  margin-top: 30px;
}

ion-button
{
    margin-top: 32px;
}
